.contacts__container {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  padding: 35px 20px 51px;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 7px;

  text-align: center;
}

.contacts__subtitle {
  margin-top: 0;
  margin-bottom: 6px;

  color: #32313d;

  font-family: "IntroScriptR", cursive;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.2;
}

.contacts__instruction {
  margin-top: 0;
  margin-bottom: 10px;

  color: #000000;

  font-family: "Ubuntu", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
}

.contacts__form {
  margin-bottom: 27px;
}

.contacts__info {
  margin-top: 0;
  margin-bottom: 18px;

  color: #000000;

  font-family: "Ubuntu", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
}

.contacts__info:last-of-type {
  margin-bottom: 10px;
}

.contacts__link {
  text-decoration: none;

  color: #000000;

  font-family: "Ubuntu", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
}

.contacts__link:hover,
.contacts__link:focus,
.contacts__link:active {
  text-decoration: underline;
}

.contacts__social-links {
  display: flex;

  margin: 0;

  align-items: center;
}

.contacts__social-links-item {
  margin-right: 30px;
}

.contacts__social-links-item:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .contacts {
    position: relative;
  }

  .contacts::before {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;

    display: block;

    width: 586px;
    height: 259px;

    content: "";
    transform: translateX(-58px);

    background-image: url("../images/contacts-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .contacts__container {
    display: flex;

    padding: 41px 48px 110px;

    flex-wrap: wrap;
  }

  .contacts__title {
    width: 100%;

    text-align: left;
  }

  .contacts__subtitle {
    width: 100%;
    margin-bottom: 15px;
  }

  .contacts__form-wrapper {
    width: 345px;
    margin-right: 67px;
  }

  .contacts__instruction {
    margin-bottom: 14px;
    padding-right: 30px;
  }

  .contacts__form {
    margin-bottom: 0;
  }

  .contacts__links-wrapper {
    width: 260px;
  }

  .contacts__info:last-of-type {
    margin-bottom: 22px;
  }
}

@media (min-width: 1366px) {
  .contacts::before {
    width: 929px;
    height: 416px;

    transform: translateX(-178px);

    background-image: url("../images/contacts-bg-desktop.jpg");
  }

  .contacts__container {
    max-width: 1366px;
    padding: 70px 74px 299px;
  }

  .contacts__title {
    width: 100%;
    margin-bottom: 30px;

    text-align: left;
  }

  .contacts__subtitle {
    margin-bottom: 12px;

    font-size: 35px;
  }

  .contacts__form-wrapper {
    width: 550px;
    margin-right: 80px;
  }

  .contacts__instruction {
    margin-bottom: 41px;
    padding-right: 0;

    font-size: 20px;
  }

  .contacts__links-wrapper {
    width: 420px;
  }

  .contacts__info {
    margin-bottom: 24px;

    font-size: 20px;
  }

  .contacts__info:last-of-type {
    margin-bottom: 25px;
  }

  .contacts__link {
    font-size: 20px;
  }
}
