.slider__side-control {
  width: 40px;
  height: 40px;
  padding: 0;

  transition: all 0.3s ease;

  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);

  font-size: 0;
}

.slider__side-control::before {
  color: #f77b91;

  font-size: 12px;
}

.slider__side-control:hover,
.slider__side-control:focus,
.slider__side-control:active {
  cursor: pointer;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.36);
}

.slider__slide-number {
  font-family: "Ubuntu", "Verdana", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
}

.slider__pagination {
  display: flex;

  padding: 0;

  list-style: none;

  align-items: center;
  justify-content: center;
}

.slider__pagination-item {
  margin-right: 5px;
}

.slider__pagination-item:last-child {
  margin-right: 0;
}

.slider__pagination__link {
  display: block;

  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: #dddddd;
}

.slider__pagination__link--active {
  width: 8px;
  height: 8px;

  background-color: #f50049;
}

.slider__pagination__link--more {
  width: 4px;
  height: 4px;
}

.slider__pagingation__link--contrast {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .slider__pagination {
    display: none;
  }

  .slider__side-control::before {
    font-size: 16px;
  }

  .slider__slide-number {
    font-size: 11px;
  }
}

@media (min-width: 1366px) {
  .slider__slide-number {
    font-size: 18px;
  }

  .slider__side-control {
    background-color: transparent;
    box-shadow: none;
  }

  .slider__side-control:hover,
  .slider__side-control:focus,
  .slider__side-control:active {
    box-shadow: none;
  }

  .slider__side-control:hover::before,
  .slider__side-control:focus::before,
  .slider__side-control:active::before {
    color: #ff004c;
  }

  .slider__side-control::before {
    color: #f77b91;

    font-size: 16px;
  }
}
